<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZs86o2-vbTmVZWCYGI3a0YFZs2Y4_LS0</string>
	<key>GCM_SENDER_ID</key>
	<string>653731631478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.thatcomeup.passaround</string>
	<key>PROJECT_ID</key>
	<string>passaround-tcu</string>
	<key>STORAGE_BUCKET</key>
	<string>passaround-tcu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653731631478:ios:d2332874475c58795c2a57</string>
</dict>
</plist>